---
layout: framework
sidebar: category-list
---

<h2>英国文化</h2>
<h1>食物</h1><br><br>
<img src="/assets/images/文化.jpg"><p></p>
<P>英式早餐在英国很受欢迎——香肠、煎蛋、培根、豆子、土豆饼和黑布丁(最后一种我留给你谷歌……)其他著名的亮点包括鱼和薯条，茶和蛋糕和周日烤牛肉晚餐。不太为人所知的是美味佳肴，比如用香肠蘸约克郡布丁面糊做成的“洞里的蟾蜍”，以及在馅饼上撒上鱼头和酥皮的“星空馅饼”。</P>

<h1>语言和语法</h1>

<p>在英国，你会穿着trainers出去散步，如果天气冷了就穿上jumper，如果你想吃布丁，你可以吃一块老式的维多利亚海绵蛋糕。除了一些不同的单词外，还有一些不同的拼写方式——比如在colour里保留了u，在美国你可能会用Z，在英国你可能会用S(例如: realised 和 realized)。此外还有一整套以女王命名的口音:女王英语。</p>

<h1>假期</h1>

<p>在英国有一些独特的节日传统。圣诞节后的第一天是“节礼日”，这要追溯到19世纪30年代，当时人们送给邮递员和跑腿的男孩一个圣诞礼盒，以感谢他们的服务。最近，节礼日是与家人一起庆祝的，通常以乡村或沿海散步来纪念。此外也庆祝女王的生日和皇室婚礼。</p>

<h1>音乐</h1>

<p>丽贝卡:披头士、埃尔顿·约翰、艾米·怀恩豪斯和辣妹组合——有史以来最畅销的流行女歌手组合——的故乡，英国一直有着繁荣的音乐舞台。虽然近年来英国音乐深受美国流行文化的影响，但仍有一些流派是彻头彻尾的英国风格。英国的四个国家都有各自独特的民间音乐传统。爱尔兰人有他们的小提琴，苏格兰人喜欢民谣，英国人喜欢有中世纪风格的音乐，而威尔士人喜欢男声唱诗班。民间体裁在英国仍然很受欢迎，并在19世纪、20世纪和21世纪经历了复兴。</p>

<h2>教育</h2>

<p>在英国，孩子们必须从5岁到11岁上小学，从11岁到16岁上中学。16岁以后，继续教育是可选的。16至18岁的学生可以选择就读六年级，在那里他们将学习A-Levels或IB课程，为上大学做准备。或者他们可能选择上大学，开始学习一门专业。英国还有世界上最好的两所大学:牛津大学和剑桥大学。它也是寄宿学校传统的忠实信徒，在英国大约有500所寄宿学校。</p>












